<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>Yo</header>
 <main>
    <section>
        <div id="map"></div>
        <!-- Replace the value of the key parameter with your own API key. -->
        <script src="" async defer></script>
    </section>
 </main>
</body>
</html>