<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <%- include('../../layout/head', {stylesheet: 'profile.css'}) %>
  <header>Yo</header>
 <main>
    <section id="map-container">
        <div id="map"></div>
        <!-- Replace the value of the key parameter with your own API key. -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPThqiGyDRZjboBjUxlV-cWgq2IEOHEiU&callback=initMap" async defer></script>
    </section>
 </main>
 <%- include('../../layout/footer') %>
</body>
</html>