<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>Yo</header>
 <main>
    <section>
        <div class="food-item">
            <form id="foodForm" action="/test/test" method="POST">
              <input type="text" name="name" value="<%= food.name %>">
              <input type="text" name="brand" value="<%= food.brand %>">
            </form>
          </div>
    </section>
 </main>
</body>
</html>