<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>Yo</header>
  <main>
    <h1>Index</h1>
    <section>
        <div class="food-item">
            <form id="foodForm" action="/test/test" method="post">
              <input type="text" name="search" required>
              <button type="submit">Search</button>
            </form>
          </div>
    </section>
  </main>
</body>
</html>