<main id="createUser">

    <%- include('../../layout/banner', {bannerMessage: 'Create Profile'}) %>
    <div id="createProfile" class="login">
        <form action="/create" method="POST">
            <label>Username:</label>
            <input name="username" type="text" placeholder="Create a username" maxlength="9" required>
            <label>Password:</label>
            <input name="password" type="password" placeholder="Create a password" required>
            <button type="submit">Create</button>
        </form>


        <a href="/login" id="toggleLogin" class="return login">Go to Login</a>

        <% if (typeof errorMessage === 'string' && errorMessage) { %>
        <p class="error">
            <%= errorMessage %>
        </p>
        <% } %>

    </div>
</main>