<section>
    <%  - includes('../../layout/banner', {bannerMessage: 'Create New Profile'}) %>
    <div id="createProfile">
        <form action="/profile" method="GET">
          <label>Username:</label>
          <input name="username" type="text" placeholder="Create an username">
          <label>Password:</label>
          <input name="password" type="text" placeholder="Create a password">
          <button type="submit">Login</button>
        </form>
    </div>
</section>
