<!DOCTYPE html>
<html>
<head>
</head>
<%- include('../../layout/head',{stylesheet: 'profile.css'}) %>
<body>
  <%- include('../../layout/header') %>
  <%- include('user') %>

  <%- include('../../layout/footer') %>
</body>
</html>