<main id="login">
  <%- include('../../layout/banner', {bannerMessage: 'Login'}) %>
<div id="user" class="login">
  <form action="/login" method="POST">
    <label>Username:</label>
    <input name="username" type="text" placeholder="Your username" required>
    <label>Password:</label>
    <input name="password" type="password" placeholder="Your password" required>
    <button type="submit">Login</button>
  </form>

  <a href="/create" id="toggleLogin" class="return login" id="create-new-user-link">Go to Create Profile</a>

  <% if (typeof errorMessage === 'string' && errorMessage) { %>
    <p class="error"><%= errorMessage %></p>
  <% } %>

</div>
</main>