<section id="definitions">
  <div id="sentiment">
    <h3>Sentiment</h3>
    <p>This number between 0 and 10 is a probability representing the likelihood that the analyzed text is positive or
      negative. Values greater than 5 indicate positive sentiment, while values less than 5 indicate negative
      sentiment.</p>
  </div>
  <div>
    <h3>Anger</h3>
    <p>This number between 0 and 10 is the probability that the author is expressing the respective emotion. Values
      greater than 5 indicate greater anger, while values less than 5 indicate less
      anger.</p>
  </div>
  <div>
    <h3>Fear</h3>
    <p>This number between 0 and 10 is the probability that the author is expressing the respective emotion. Values
        greater than 5 indicate greater fear, while values less than 5 indicate less
        fear.</p>
  </div>
  <div>
    <h3>Joy</h3>
    <p>This number between 0 and 10 is the probability that the author is expressing the respective emotion. Values
        greater than 5 indicate greater joy, while values less than 5 indicate less
        joy.</p>
  </div>
  <div>
    <h3>Sadness</h3>
    <p>This number between 0 and 10 is the probability that the author is expressing the respective emotion. Values
        greater than 5 indicate greater sadness, while values less than 5 indicate less
        sadness.</p>
  </div>
  <div>
    <h3>Surprise</h3>
    <p>This number between 0 and 10 is the probability that the author is expressing the respective emotion. Values
        greater than 5 indicate greater surprise, while values less than 5 indicate less
        surprise.</p>
  </div>
</section>