<% if (typeof journals === 'object' && journals) { %>
  <div id="smallGraph">
    <canvas id="myChart"></canvas>
  </div>
  <% } %>


<%- include('chart-script') %>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> -->

<!-- <script>
// This creates normal js object to work with
const journals = <%- JSON.stringify(journals) %>;

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: journals.map(j => new Date(j.date).toDateString().split(' ').slice(1,3).join(' ')).reverse(),
        datasets: [{
            label: "Your Sentiment scores over time",
            backgroundColor: 'rgba(68, 147, 212, 0.342)',
            borderColor: 'rgb(20, 81, 131)',
            data: journals.map(j => j.sentiment),
        }]
    },

    // Configuration options go here
    options: {}
});

</script> -->