<main id="profile">
  <%- include('../../layout/banner', {
    bannerMessage: `Profile Page`,
    username: username
  }) %>

  <%- include('graph') %>

  <div id="headingContainer">
    <h4>Your Journal Entries</h4>
    <button>Add New Entry</button>
  </div>



  <% if (typeof journals === 'object' && journals) { %>
  <% journals.forEach(journal => { %>

    <%- include('entry', {journal}) %>

  <% }) %>
  <% } else { %>
  <p>You have not written any journal entries yet.</p>
  <% } %>
</main>