<section id="profile">
  <%- include('../../layout/banner', {bannerMessage: 'Profile Page'}) %>
  <div class="container">
    <h2>Journal Entries</h2>
    <img id="graph" src="https://via.placeholder.com/150" alt="">
  </div>
</section>