<main id="mainGraph">
    <%- include('../../layout/banner', {
        bannerMessage: `Main Graph`,
        username: username
    }) %>
    <div id="graphContainer">
        <canvas id="myMainChart"></canvas>
    </div>

    <a href="/profile/<%= uid %>">Return to Profile</a>

</main>

<%- include('chart-script') %>
