<main id="mainGraph">
    <%- include('../../layout/banner', {
        bannerMessage: `Main Graph`,
        username: username
    }) %>
    <div id="graphContainer">
        <canvas id="myMainChart" width="600" height="600"></canvas>
    </div>

    <a href="/profile/<%= journals[0].uid %>">Return to Profile</a>

</main>

<%- include('chart-script') %>
