<main id="mainGraph">

    <div id="graphContainer">
        <canvas id="myMainChart"></canvas>
    </div>

    <%- include('definitions') %>

    <a href="/profile/<%= uid %>">Return to Profile</a>
</main>

<%- include('chart-script') %>
