<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head', {stylesheet: 'profile.css'}) %>

<body>
  <%- include('../layout/header') %>
  <main>
    <h1>Index</h1>
    <a href="/login">Sign In</a>

    <section id="geocoding">
      
    </section>

    <section id="nutrition">
      <div>
        <h3>Foods that can affect our mood</h3>
        <ul>
          <li>Foods naturally rich in magnesium may help to feel calmer. Quick, no-cook options are nuts (almonds, cashews, and peanuts), Avocado, and Banana. A list of other foods found <a href="https://ods.od.nih.gov/factsheets/Magnesium-HealthProfessional/" target="_blank">here</a>.</li>
          <li><a href="https://ods.od.nih.gov/factsheets/Zinc-HealthProfessional/" target="_blank">Zinc</a>, oysters have the highest concentraition, but you can also get your intake from  </li>
        </ul>
      </div>
    </section>
    <section id="articles">
      <div id="articles_anxiety">
        <h3>Articles on Anxiety</h3>
        <ul>
          <li><a href="https://www.nimh.nih.gov/health/topics/anxiety-disorders/index.shtml">Anxiety definition, symptoms, and types</a></li>
          <li><a href="https://www.webmd.com/anxiety-panic/guide/anxiety-panic-guide-treatment-care">Web MD suggestions for treatment</a></li>
          <li><a href="https://www.anxiety.org/treatments">More suggestions on treatment</a></li>
        </ul>
      </div>
      <div id="quotes">
        <h3>Quotes</h3>
        <ul>
          <li>“Do what you can, with what you've got, where you are.” — Theodore Roosevelt</li>
          <li>“There is no trouble so great or grave that cannot be much diminished by a nice cup of tea.” — attributed to Bernard-Paul Heroux</li>
          <li>"You don't have to see the whole staircase, just take the first step." — Martin Luther King</li>
        </ul>
      </div>
    </section>

  </main>
  <%- include('../layout/footer') %>
</body>
</html>