/* base */
/* START - CSS trick to keep footer at bottom */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background: url("/styles/images/light-1282314_1920.jpg");
  font-size: 110%;
}
.content {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(91, 137, 190, 0.5);
  color: white;
  padding: 5px 0;
  margin-top: 10px;
}
/* END - CSS trick to keep footer at bottom */

main {
  text-align: center;
}

button {
  padding: 5px;
  margin: 10px;
  font-size: 80%;
  border: solid black 1px;
  border-radius: 3px;
  cursor: pointer;
}