/* base */
html {
  width: 480px;
}
body {
  background: url("/styles/images/abstract-2055567_1920.jpg");
}

@media screen and (min-width: 768px) {
  body {
    background-color: aquamarine;
  }
}

@media screen and (min-width: 960px) {
  body {
    background-color: aqua;
  }
}