/* base */
/* START - CSS trick to keep footer at bottom */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background: url("/styles/images/light-1282314_1920.jpg");
  font-size: 110%;
  font-family: 'Catamaran', sans-serif;
}



.content {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(91, 137, 190, 0.5);
  color: white;
  padding: 5px 0;
  margin-top: 10px;
  color: aliceblue;
  background-color: rgb(107, 153, 194);
}
/* END - CSS trick to keep footer at bottom */

header {
  background-image: url('/styles/images/dandelion-463928_1920.jpg');
  background-size: cover;
  background-attachment: no-repeat;
  width: 100%;
  /* min-width: 320px; */
  margin-bottom: 15px;
  opacity: 0.7;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
}

main {
  text-align: center;
}



button {
  padding: 5px;
  margin: 10px;
  font-size: 80%;
  border: solid black 1px;
  border-radius: 3px;
  cursor: pointer;
}

input {
  height: 30px;
  background-size: cover;
}

div.checkbox  {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

div.checkbox input {
  height: 13px;
}


textarea {
  width: 80%;
  resize: none;
  /* width: 500px; */
  height: 200px;
  margin: 10px;
  padding: 10px;
  font-size: 90%;
}
