

html, body {
  height: 100%;
}

body {
  font-family: cursive;
  text-align: center;
  font-size: 120%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.content {
  flex: 1 0 auto;
}

header {
  /* width: 100%; */
  height: 40px;
  padding: 3px;
  background: url("../styles/images/feather-3010848_1920.jpg");

}

header h1 {
  flex: 0 1 auto;
  position: absolute;             /* new */
  left: 50%;
  transform: translateX(-50%);
}

header section {
  position: relative;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
}


/* header h1 {
  width: 200px
} */

header a.header-menu {
  display: block;
  width: 50px;
  height: 30px;
  text-decoration: none;
  color: ivory;
  display: flex;
  flex-flow: column;
  justify-content: center;

  font-size: 70%;
  background-color: rgb(108, 188, 214);
  border-radius: 10%;
  flex: 0 1 auto;
  margin-left: auto;
}

#banner {
  margin-bottom: 40px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#banner div {
  padding: 10px;
}

#banner div:first-child{
  background-color: coral;
}

#banner div:nth-child(2){
  background-color: lightblue;
}

main {
  margin-bottom: 100px;
}

h1 {
  font-size: 150%;
}

h1 a {
  text-decoration: none;
  color: gray;

}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 90%;
  /* text-decoration: underline; */
}

h4 {
  font-size: 80%;
  /* text-decoration: underline; */
}

input, textarea {
  font-size: 90%;
}

#headingContainer {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  /* height: 160px; */
}

#map-container{
  height: 500px;
  width: 500px;
}

#map{
  height: 100%;
}




em {
  font-style: italic;
  font-size: 90%;
}

b {
  font-weight: bold;
}

li {
  font-size: 80%;
}

.journal {
  font-family: 'Times New Roman', Times, serif;
  border: solid black 1px;
  background-color: ivory;
  margin: 20px auto;
  clear: right;
  width: 90%;
  padding: 20px 50px;
  box-sizing: border-box;
  border-radius: 5px;
}

.entry {
  text-align: left;
  margin-bottom: 30px;
}

.entry-options {
  display: flex;
  justify-content: space-around;
}

.entry-options a {
  text-decoration: none;
  font-size: 75%;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #555;
  padding: 4px;
}


.entry-options a.return {
  border: none;
  color: darkgreen;
}

.entry-options a.return:hover {
  color: green;
}

.entry-options a.update {
  color: darkblue;
}

.entry-options a.update:hover {
  color: blue;
}

.entry-options a.delete {
  color: darkred;
}

.entry-options a.delete:hover {
  color: red;
}

#previews {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.preview {
  font-size: 80%;
  width: 250px;
  margin: 10px;
  cursor: pointer;
  padding: 20px;
}


button {
  width: 200px;
  height: 50px;
  background-color: aliceblue;
  border: solid black 1px;
  cursor: pointer;
  font-size: 80%;
  margin-bottom: 20px;
}

button:hover {
  background-color: ivory;
}

.delete-form {
  width: 400px;
  font-size: 100%;
  background-color: ivory;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 30px;
}

.delete-form button {
  color: darkred;
  background-color: #eee;
}

.delete-form button:hover {
  color: red;
}

.delete-form a.cancel {
  color: darkslategray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
}

.delete-form a.cancel:hover {
  color: darkgreen;
}

fieldset section{
  display: inline-block;
  margin: 30px;
}

textarea {
  max-width: 100%;
  width: 500px;
  height: 200px;
  margin: 10px;
  padding: 10px;
}

.block {
  display: block;
}

a.cancel {
  text-decoration: none;
  color: darkred;
}

a.cancel:hover {
  color: red;
}

a.toggleLogin {
  color: darkblue;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

a.toggleLogin:hover {
  color: rgb(67, 147, 197);
}

.error {
  color: red;
}

footer {
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
  padding: 10px;
  background-color: ivory;
  flex-shrink: 0;
}

.journal p, .journal li {
  margin-bottom: 10px;
}

.journalHeader {
  display: flex;
  justify-content: flex-start;
  position: relative;
  flex-flow: column;
  /* justify-content: flex-start; */
}

.journalInfo {
  /* flex: 0 1 auto; */
  /* position: absolute;             /* new */
  /* left: 50%;
  transform: translateX(-50%);  */
  font-size: 100%;
}

.journalInfo em {
  font-size: 115%;
}

.negative {
  color: rgb(165, 5, 5);
}

.positive {
  color: rgb(11, 146, 11);
}

table {
  font-size: 75%;
  /* flex: 0 1 auto; */
  /* margin: 0 40px 10px auto; */
  margin: 0 auto;
  table-layout: fixed;
  background-color: aliceblue;
  border-left: 5px solid aliceblue;
  width: 150px;
}

thead {
  /* padding: 5px; */
  border-bottom: 1px black solid;
}

th {
  font-weight: bold;
}

th:nth-child(1){
  padding-right: 3px;
  /* margin-left: 3px; */
}

th:nth-child(2){
  /* padding-right: 5px; */
  margin-left: 3px;
}

th:nth-child(1), td:nth-child(1) {
  text-align: left;
  border-right: black 1px solid;
}


tr:nth-child(even) {
  background-color: ivory;
  border-right: 5px solid ivory;
  border-left: 5px solid ivory;
}

#smallGraphContainer {
  position: relative;
  margin: 20px auto;
  width: 350px;
  background-color: ivory;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

#graphContainer {
  position: relative;
  width: 90%;
  margin: auto auto 50px auto;
  background-color: ivory;
  border: 1px solid black;
  border-radius: 5px;
}

#mainChart {
  margin-bottom: 50px;
}
/* Map */

#map {
  height: 200px;
  width: 225px;
}
/* Nutrition */

/* #nutrition {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

#nutrition-intro {
  border: 5px solid black;
}

.food-dos-donts {
  width: 48%;
  border: 2px solid black;
}

/* Articles and Quotes */

#articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#articles_anxiety {
  border: 5px;
  border-style: solid;
  padding: 10px;
}

#quotes {
  border-width: 5px 5px 5px 0px;
  border-style: solid;
  padding: 10px;
}

#articles_anxiety li {
  list-style-type: circle !important;
}

#articles h3 {
  margin-bottom: 10px;
}

#articles li {
  margin-top: 5px;
}

/* END - Articles and Quotes */


/* START - Definitions */

#definitions {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}


#definitions>div {
  width: 300px;
  /* height: 200px; */
  background-color: ivory;

  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  padding: 15px;
  margin-bottom: 30px;
}

#definitions h3 {
  margin-bottom: 10px;
}
#definitions p {
  text-align: jusfity;
}

#sentiment {
  border: 4px solid rgba(71, 139, 194, 1);
}

#anger {
  border: 4px solid rgba(211, 69, 69, 1);
}

#fear {
  border: 4px solid rgba(252, 221, 128, 1);
}

#joy {
  border: 4px solid rgba(239, 149, 157, 1);
}

#sadness {
  border: 4px solid rgba(166, 212, 216, 1);
}

#surprise {
  border: 4px solid rgba(161, 204, 126, 1);
}

/* END - Definitions */

/* Side-bar */

.community-suggestion {
  margin: auto;
  border: 2px solid black;
  width: 75%;
}

@media only screen and (min-width: 444px) and (max-width: 767px) {
  header {
    height: 70px;
    padding: 5px;
  }

  header a.header-menu {

  width: 75px;
  height: 50px;
  font-size: 85%;


    /* width: 115px;
    height: 74px;
    font-size: 85%;
    border-radius: 10%;
    flex: 0 1 auto; */
  }

  h1 {
    font-size: 200%;
  }

  h1 a {
    text-decoration: none;
    color: gray;

  }

  h2 {
    font-size: 150%;
  }

  h3 {
    font-size: 100%;
    /* text-decoration: underline; */
  }
}


@media only screen and (min-width: 768px) {
  header {
    height: 90px;
    padding: 10px;
  }

  header a.header-menu {

    width: 115px;
    height: 74px;
    font-size: 90%;
    border-radius: 10%;
    flex: 0 1 auto;
  }

  h1 {
    font-size: 300%;
  }

  h1 a {
    text-decoration: none;
    color: gray;

  }

  h2 {
    font-size: 200%;
  }

  h3 {
    font-size: 150%;
    /* text-decoration: underline; */
  }

  h4 {
    font-size: 130%;
    /* text-decoration: underline; */
  }
}