body {
  font-family: cursive;
  text-align: center;
  font-size: 120%;
}

header {
  /* margin-bottom: 10px; */
  padding: 10px;
  background-color: ivory;
}

#banner {
  margin-bottom: 10px;
  background-color: coral;
  padding: 8px;
}

main {
  margin-bottom: 100px;
}

h1 {
  font-size: 300%;
}

h1 a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 180%;
  text-decoration: underline;
}

h4 {
  /* font-size: 110%; */
  text-decoration: underline;
}

input, textarea {
  font-size: 90%;
}

#profile .container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 160px;
}

/* #graph, .container h3 {
  display: inline-block;
} */

#graph {
  position: absolute; 
  right: 5%; 
  /* top: 100px; */
  /* float: right; */

}

em {
  font-style: italic;
  font-size: 90%;
}

b {
  font-weight: bold;
}

li {
  font-size: 80%;
}

.journal {
  font-family: 'Times New Roman', Times, serif;
  border: solid black 1px;
  background-color: ivory;
  margin: 10px auto;
  clear: right;
  width: 90%;
  padding: 0 50px;
  box-sizing: border-box;
}

.entry {
  text-align: left;
}

button {
  width: 200px;
  height: 50px;
  background-color: ivory;
  border: solid black 1px;
  cursor: pointer;
  font-size: 80%;
  margin-bottom: 20px;
}

fieldset section{
  display: inline-block;
  margin: 30px;
}

textarea {
  width: 500px;
  height: 200px;
  margin: 10px;
}

.block {
  display: block;
}

a.cancel {
  text-decoration: none;
  color: darkred;
}

a.cancel:hover {
  color: red;
}

.error {
  color: red;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: ivory;
}