html, body {
  height: 100%;
}

body {
  font-family: cursive;
  text-align: center;
  font-size: 120%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

header {
  padding: 10px;
  background-color: ivory;
  /* box-sizing: border-box; */
}

header h1 {
  /* margin-left: 74px; */
}

header section {
  width: 90%;
  margin: auto;
}

header div {
  float: right;
  width: 111px;
  height: 74px;
  border-radius: 10%;
  background-color: rgb(108, 188, 214);
  /* color: ivory; */
  
  
  margin-left: -74px;
}

header div a {
  display: block;
  width: 111px;
  height: 74px;
  text-decoration: none;
  color: ivory;
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* cursor: pointer; */
}

#banner {
  margin-bottom: 40px;
  /* background-color: coral; */
  /* padding: 8px; */
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#banner div {
  padding: 10px; 
}

#banner div:first-child{
  background-color: coral;
}

#banner div:nth-child(2){
  background-color: lightblue;
}

main {
  margin-bottom: 100px;
}

h1 {
  font-size: 300%;
}

h1 a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
  /* text-decoration: underline; */
}

h4 {
  font-size: 130%;
  /* text-decoration: underline; */
}

input, textarea {
  font-size: 90%;
}

#profile .container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 160px;
}




#graph {
  position: absolute; 
  right: 5%; 
  width: 250px;
  background-color: ivory;
  border: 1px solid black;
  border-radius: 5px;
}

em {
  font-style: italic;
  font-size: 90%;
}

b {
  font-weight: bold;
}

li {
  font-size: 80%;
}

.journal {
  font-family: 'Times New Roman', Times, serif;
  border: solid black 1px;
  background-color: ivory;
  margin: 20px auto;
  clear: right;
  width: 90%;
  padding: 20px 50px;
  box-sizing: border-box;
  border-radius: 5px;
}

.entry {
  text-align: left;
}

button {
  width: 200px;
  height: 50px;
  background-color: azure;
  border: solid black 1px;
  cursor: pointer;
  font-size: 80%;
  margin-bottom: 20px;
}

button:hover {
  background-color: ivory;
}

fieldset section{
  display: inline-block;
  margin: 30px;
}

textarea {
  width: 500px;
  height: 200px;
  margin: 10px;
}

.block {
  display: block;
}

a.cancel {
  text-decoration: none;
  color: darkred;
}

a.cancel:hover {
  color: red;
}

a.toggleLogin {
  color: darkblue;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

a.toggleLogin:hover {
  color: rgb(67, 147, 197);
}

.error {
  color: red;
}

footer {
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
  padding: 10px;
  background-color: ivory;
  flex-shrink: 0;
}

.journal p, .journal li {
  margin-bottom: 10px;
}

.journalHeader {
  display: flex;
  justify-content: flex-start;
  position: relative; 
}

.journalInfo {
  flex: 0 1 auto;
  position: absolute;             /* new */
  left: 50%;
  transform: translateX(-50%);
    
}

table {
  font-size: 65%;
  flex: 0 1 auto;
  margin: 0 40px 10px auto; 
  table-layout: fixed;     
  background-color: aliceblue;
  border: 5px solid aliceblue;
}

thead {
  padding: 5px;
  border-bottom: 1px black solid;
}

th {
  font-weight: bold;
}

th:nth-child(1){
  padding-right: 5px;
}

th:nth-child(1), td:nth-child(1) {
  text-align: left;
  border-right: black 1px solid;
}

/* Nutrition */

/* #nutrition {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

#nutrition-intro {
  border: 5px solid black;
}

.food-dos-donts {
  width: 48%;
  border: 2px solid black;
}

/* Articles and Quotes */

#articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#articles_anxiety {
  border: 5px;
  border-style: solid;
  padding: 10px;
}

#quotes {
  border-width: 5px 5px 5px 0px;
  border-style: solid;
  padding: 10px;
} 

#articles_anxiety li {
  list-style-type: circle !important;
}

#articles h3 {
  margin-bottom: 10px;
}

#articles li {
  margin-top: 5px;
}

/* END - Articles and Quotes */

/* Side-bar */

.community-suggestion {
  margin: auto;
  border: 2px solid black;
  width: 75%;
}

