<header>
  <section>
    <% if (typeof username === 'string' && username) { %>
      <div>
        <h4><%= username %></h4>
      </div>
    <% } %>
    <h1><a href="/">(just)Breathe</a></h1>
  </section>
</header>