<header>
  <section>
    <!-- <div> -->
      <h1><a href="/">(just)Breathe</a></h1>
    <!-- </div> -->
    <% if (typeof username === 'string' && username) { %>
      <!-- <div> -->
        <a class="header-menu" href="/logout">
          <h4><%= username %></h4>
        </a>
      <!-- </div> -->
      <% } %>
  </section>
</header>