<header>
    <section>

      <div class="header-div" id="menu">
        <a href="/">
          <h4>Home</h4>
        </a>
        <% if (typeof username === 'string' && username) { %>
        <a href="/logout">Logout</a>
          <% } else { %>
            <a href="/login">Login</a>
          <% } %>
        </div>
        <% if (typeof username === 'string' && username) { %>
          <div id="user-button">
            <!-- <a href="/logout"> -->
              <h4><%= username %></h4>
            <!-- </a> -->
          </div>
        <% } %>

        <div class="header-div" id="just-breathe-logo">
          <h1>(just)Breathe</h1>
        </div>




    </section>
  </header>
