<header>
  <section>

    <div class="header-div" id="menu">
      <a href="/">
        <h4>Home</h4>
      </a>
      <a href="/login">
        Login</a>
        
      </div>
      <% if (typeof username === 'string' && username) { %>
        <div id="logout">
          <a href="/logout">
            <h4><%= username %></h4>
          </a>
        </div>
      <% } %>
    <div class="header-div" id="just-breathe-logo">
      <h1>(just)Breathe</h1>
    </div>

  </section>
</header>